<h1>Aaku is here....</h1>
<table class="mainTable">
                    <thead class="tableHead">
                                        <td>Id</td>
                                        <td>Name</td>
                                        <td>Code</td>
                    </thead>
                    <tbody class="tableBody">
                                        <tr *ngFor="let v of video" ng-class="main" class="tableRow">
                                                            <td>{{v.id}}</td>
                                                            <td>{{v.title}}</td>
                                                            <td>{{v.videoCode}}</td>
                                        </tr>
                    </tbody>
</table>